# Ignore all externals upstream files
/externals/**/upstream.*

# VisualStudio specific files
/*.suo
/*.sdf
/*.opensdf
*.user

# VisualStudio specific folders
/ipch

# MacOSX
.DS_Store

# XCode
*.pbxuser
xcuserdata
